{% load static %}
<div class="bg-dark mt-3 p-3">
  <ul class="sidebar-nav list-group">
    <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
      <a class="text-white" href="{% url 'device:device-list' %}">Home</a>
      <span class="text-white">
        <a href="{% url 'cart:cart-list' %}">
          <img src="{% static 'photos/cart_photo.jpg' %}" alt="Cart Photo" class="cart-photo" style="width: 1cm; height: 1cm;">
        </a>
      </span>
    </li>
    <ul>
      {% if user.is_authenticated %}
        <li>User: {{ user.username }}</li>
        <li>
          <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout!</button>
          </form>
        </li>
      {% else %}
        <li><a href="{% url 'login' %}">Login!</a></li>
      {% endif %}
    </ul>
  </ul>
</div>


{#{% if user.is_authenticated %}#}
{#        <li>User: {{ user.get_username }}</li>#}
{#        <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>#}
{#      {% else %}#}
{#        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>#}
{#      {% endif %}#}