{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    {% for device in device_list %}
  <div class="col-md-4 mb-4">
    <a href="{% url 'device:device-detail' pk=device.id %}" style="text-decoration: none;">
      <div class="card h-100">
        {% if device.image %}
          <img src="{{ device.image.url }}" class="card-img-top" alt="{{ device.name }}" style="width: 100%; height: auto;">
        {% else %}
          <img src="{% static 'photos/no_photo.png' %}" alt="no_photo" class="no_photo" style="width: 100%; height: auto;">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ device.name }}</h5>
          <p class="card-text">Price: {{ device.price }}</p>
          <form action="{% url 'cart:add-to-cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="device_id" value="{{ device.id }}">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </form>
        </div>
      </div>
    </a>
  </div>
  {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div><div class="row justify-content-center">
  {% endif %}
{% endfor %}

  </div>
</div>

{% endblock %}
